@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');


*{
    box-sizing: border-box;
}

body{
    font-family: 'Onest', sans-serif;
    margin: 0px auto;
    max-width: 1600px;
    padding: 0;
    color: #2e3d62;
}

a{
    text-decoration: none;
    color: inherit;
}

.section_lg{
    padding: 50px 0px;
}

ul{
    padding-left: 0;
}

ul li{
    list-style-type: none;
}

.gradient-button{
    color: #fff;
    border: none;
    background: -webkit-linear-gradient(348deg, #f30070 0%, #eb7e0a 100%);
    background: #22005a;
    padding: 12px 50px;
    border: 1px solid #22005a;
    border-radius: 50px;
    display: flex;
    width: max-content;    
    -webkit-transition: all .24s cubic-bezier(.55, .055, .675, .19);
    transition: all .24s cubic-bezier(.55, .055, .675, .19);
}

.gradient-button:hover{
    box-shadow: 0 10px 10px 0 rgba(28, 75, 154, .1);
    background: #fff;
    border: 1px solid #22005a;
    transition: all .24s cubic-bezier(.55, .055, .675, .19);
    color: #22005a;    
}

.gradient-button:hover a{
    color: #22005a;    
}

.common-heading{
    color: #2e3d62;
    font-size: 2.4rem;
    text-transform: capitalize;
    text-align: center;
    font-weight: 600;
}

.separator{
    height: 50px;
}

p{
    font-size: 1.125rem;
    line-height: 1.5;
}

/* header css start */

#header{
    background-image: url('images/common-banner.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    position: relative;
    z-index: 1;
    /* background-color: #fff; */
    height: 550px;
}

.blog-header{
    background-image: url('images/blog-banner.webp') !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    position: relative;
    z-index: 1;
    /* background-color: #fff; */
    height: 400px !important;
}


.blog-detail-header{
    background-image: none !important;
    height: 0 !important;
}

.domain-header, .favorite-header{
    background: linear-gradient(to left, #8e54e9, #4776e6) !important;
    height: auto !important;
}

.custom-sticky{
    position: sticky;
    top: 0;
    z-index: 11;
}

.upper-header{
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.left-upper-header .social-icons span, .search-favt span{
    color: #fff;
    font-size: 1.125rem;
    margin: 0px 10px;
    cursor: pointer;
}

.lower-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px 0px;
}

.lower-header img{
    width: 100%;
}

.lower-header .navigation{
    display: flex;
}
.lower-header .navigation a{
    color: #fff;
}

.tj-menu-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    position: relative;
} 

.tj-menu-area li {
    position: relative;
}

.tj-menu-area .nav-link > a {
    color: #fff;
    margin: 0px 15px;
}

.tj-menu-area  li:hover a{
    color: #fff;
    text-decoration: underline;
}

.tj-menu-area .nav-link:hover > a::after {
    display: block;
}

.tj-menu-area .has-dropdown:hover .sub-menu {
    opacity: 1;
    visibility: visible;
}

.tj-menu-area li .sub-menu li a:hover {
    color: #2e3d62;
}

.tj-menu-area li .sub-menu {
    text-align: left;
    margin: 0;
    list-style: none;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 9;
    left: 0%;
    top: 140%;
    transition: 0.4s;
    background: #fff;
    padding: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 15px 30px 0 rgba(68, 86, 103, .2);
}

.tj-menu-area li .sub-menu li {
    display: block;
    margin-right: 0;
    transition: 0.4s;
    padding: 10px 0px;
    border-bottom: 1px solid #c7c7c7;
}

.tj-menu-area li .sub-menu li:last-child{
    border-bottom: unset;
}

.tj-menu-area li .sub-menu li a{
    color: #2e3d62;
    text-decoration: none;
}

.tj-menu-area li .sub-menu li a:hover{
    text-decoration: underline;
}

.home-banner-content{
    padding: 120px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;  
}

.blog-header .home-banner-content{
    padding: 60px 0px 20px 0px;
}

.home-banner-content p{
    font-size: 1.375rem;
}

.home-banner-content h1{
    font-size: 3.625rem;
    font-weight: 700;
}

/* header css end */

/* search popup css start */
    .popup-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
        justify-content: center;
        align-items: center;
      }
  
      .popup-content {
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        width: 600px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      .popup-content-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
  
      .close-btn {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: #333;
        float: right;
      }
  
      input[type="search"] {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

/* search popup css end */


/* domain section css start */

.domain-section .domain-inner{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 50px;
    position: relative;
    margin-top: 50px;
}

.domain-page-section .domain-inner{
    display: grid;
    grid-template-columns: 6.5fr 5.5fr;
    gap: 30px;
    
}

.left-domain-part{
    position: sticky;
    top: 122px;
    /* z-index: 1; */
    background: #fff;
    padding: 30px 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, .09);
    /* margin-bottom: 20px; */
}

.left-domain-part.domain-page{
    position: relative;
    top: 0;
}

.left-domain-part.domain-page .domain-name{
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-domain-part.domain-page .domain-name h4{
    /* font-size: 20px; */
    margin-bottom: 0;
}

.left-domain-part.domain-page .domain-name .verify-text{
    display: flex;
    gap: 5px;
    padding: 3px 10px;
    border-radius: 50px;
    background: rgba(0, 182, 122, .08);
    align-items: center;
}

.left-domain-part.domain-page .domain-name img{
    width: 30px;
    height: 30px;
}

.left-domain-section{
    width: 470px;
}

.domain-page-section .left-domain-section, .domain-page-section .right-domain-section{
    width: 100%;
}

.domain-name p{
    font-size: 1.125rem;
}

.buy-now{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f7fa;
    border: 1px solid #4776e6;
    padding: 10px 15px;
    border-radius: 10px;
}

.buy-now-heading{
    display: flex;
    gap: 5px;
}

.buy-now input[type='radio']{
    color: #4776e6;
}

.checkout-btn .gradient-button{
    align-items: baseline;
    width: 100%;
    justify-content: center;
    border-radius: 10px;
}

.gradient-button span{
    margin-left: 10px;
}

.bullet-points-domain li{
    padding: 5px 0px;
    list-style-type: none;
    color: #003;
}

.payments-div img{
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.bullet-points-domain li span{
    margin-right: 5px;
}

.right-domain-section{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 850px;
}


.domain-img{
    background-color: #f6f7fa;
    border-radius: 8px;
    position: relative;
    z-index: 1;
}

.domain-img i{
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 1.5rem;
    cursor: pointer;
}

.domain-img img{
    width: 100%;
    display: flex;
    margin: 0px auto;
    height: 400px;
}

.domain-points{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.domain-desc{
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}

.domain-desc.domain-page h1{
    font-size: 2.25rem;
}

.domain-desc.domain-page h1 span{
    font-size: 1.125rem;
}

.domain-points-heading{
    display: flex;
    gap: 10px;
    align-items: center;
}

.domain-points.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.flip-card {
    background-color: transparent;
    /* width: 300px; */
    height: 200px;
    /* perspective: 1000px; */
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    display: flex;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }

  .domain-page-section .flip-card-front, .domain-page-section .flip-card-back{
    padding: 10px; 
  }

  .flip-card-front img{
    width: 100px;
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
    background-color: #f4f8ff;
  }

  .flip-card-back p{
    font-size: 1rem;
  }

.domain-points-heading img{
    width: 30px;
}

.domain-key-points P{
    font-size: 1.12rem;
}

.domain-key-points li{
    padding: 5px 0px;
    list-style-type: none;
    font-size: 1rem;
}

.domain-key-points.keyword a{
    padding: 3px 10px 3px;
    margin: 12px 5px 0 0 !important;
    border-radius: 6px;
    background-color: #f6f7fa;
    display: inline-block;
}

.domain-points.faq .accordion{
    padding-top: 30px;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}

.domain-points.faq .accordion-body{
    padding: 20px;
}

.domain-points.faq .accordion-item{
    margin-bottom: 15px;
    border-radius: 10px;
}

.domain-points.faq .accordion-button{
    color: #2e3d62;
    border: 1px solid #f6f7fa;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.375rem;
    padding: 35px;
    gap: 25px;
    align-items: center;
}

.domain-points.faq .accordion-button:focus {
    outline: 1px solid #4776e6; /* Change to your desired outline color */
    /* box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); Optional glow effect */
}

.domain-points.faq .accordion-button:hover, .domain-points.faq .accordion-button:not(.collapsed){
    background-color: #f6f7fa;
    border-color: #4776e6;
}


.domain-points.faq .accordion-button:focus{
    box-shadow: none;
}

.domain-points.faq .accordion-body p{
    font-size: 1.12rem;
}

.domain-points.faq .accordion-body ul{
    padding-left: 30px;
}

.domain-points.faq .accordion-body ul li{
    list-style-type: disc;
}

.domain-points.faq .accordion-button::after{
    width: 25px;
    height: 25px;
    margin-left: auto;
    content: "+";
    display: flex;
        align-items: center;
        font-size: 1.625rem;
        background: #4776e6;
        color: #fff;
        justify-content: center;
        border-radius: 50%;
        padding: 15px;
}

.domain-points.faq .accordion-button:not(.collapsed)::after {
    background-image: none;
    transform: none;
    content: '-';
}

.premium-domain-inner{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.premium-domain-item{
    position: relative;
}

.premium-domain-item img{
    width: 100%;
    border-radius: 5px;
}

.domain-content{
    -ms-flex-pack: justify;
    background-color: #fff;
    border: 1px solid #f3f9ff;
    box-shadow: rgba(0, 0, 0, 0.45) 10px 10px 15px, rgba(0, 0, 0, 0.3) 10px 15px 20px;
    border-radius: 10px;
    bottom: 10%;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 15px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 90%;
    padding: 10px;
    max-height: 230px;
}

.domain-content img{
    border: 1px solid #f3f9ff;
}

.domain-content .price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.domain-content .price .gradient-button{
    padding: 5px 10px;
}

.domain-content .price span{
    font-weight: 600;
}


/* domain section css end */

/* help section css start */

.help-section{
    background-color: #fff;
    box-shadow: 0 15px 30px 0 rgba(68, 86, 103, .2);
    border: 1px solid #f6f7fa;
    border-radius: 10px;
}

.help-section-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.help-section-heading hr{
    width: 15%;
}

.help-section-inner{
    margin-top: 30px;
    padding: 0px 80px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    align-items: center;
}

.domain-page-section .help-section-inner{
    display: flex;
    flex-direction: column-reverse;

}

.help-section-item-cont{
    position: relative;
}

.help-section-item{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(12, 12, 13, .1), 0 1px 4px rgba(12, 12, 13, .05);
    position: relative;
    z-index: 2;
    background-color: #fff;
}

.help-section-item-cont .replies{
    position: absolute;
    left: 0;
    bottom: -27px;
    right: 0;
    text-align: center;
    background: linear-gradient(89.52deg, #3a4991 .42%, #7088ff 114.33%);
    color: #fff;
    border-radius: 0 0 10px 10px;
    line-height: 28px;
    font-size: 0.75rem;
    font-weight: 700;
    z-index: 1;
    padding-top: 14px;
}

.help-section-item-cont .replies b{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #82dba8;
    display: inline-block;
    position: relative;
    top: 1px;
    margin-right: 10px;
}

.help-section-item i{
    font-size: 1.625rem;
}

/* help section css end */


/* search section css start */

.search-container{
    margin-top: 40px;
}

.search-container .search-form{
    position: relative;
    /* z-index: 1; */
    width: max-content;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    gap: 20px;
    border-radius: 50px;
    background: #fff;
    box-shadow: 0 5px 20px 0 rgba(24, 13, 91, .15);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.search-form input[type='text']{
    width: 200px;
    border: none;
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
    background: transparent;
}

.search-form input:focus{
    outline: none;
}

.search-form span.bar{
    position: absolute;
    top: 50%;
    left: 40%;
    width: 1px;
    height: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%, -40%);
    background-color: #c7c7c7;
}
.search-form select {

    width: 120px;
    color: #5d5c64;
    border: none;
    background: transparent;
}

.keywords{
    margin-top: 40px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.keyword-btn{
    background-color: #4bc9fe;
    padding: 5px 15px;
    color: #003;
    border-radius: 50px;
}

/* search section css end */


/* about page css start */

.about-inner{
    display: grid;
    grid-template-columns: 7fr 5fr;
    gap: 20px;
}

.left-about{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.right-about img{
    width: 100%;
}

.how-to-choose-inner{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.how-to-choose-item{
    background-color: #fff;
    box-shadow: 0 10px 60px 0 rgba(46, 61, 98, .1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
}

.how-to-choose-item p{
    font-size: 1rem;
}

/* why choose us section css start */

.why-choose-us-section .container{
    background-image: url('images/why-choose-bg.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.why-choose-inner{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 25px;
   margin-top: 40px;
}

.why-choose-item {
   padding: 50px 30px;
   border-radius: 10px;
   border-color: transparent;
   background-color: #fff;
   box-shadow: 0 15px 30px 0 rgba(68, 86, 103, .2);
   display: flex;
   flex-direction: column;
   gap: 15px;
   text-align: center;
}

.why-choose-item img{
   width: max-content;
   display: flex;
   margin: 0px auto;
}

/* why choose us section css end */

/* about page css end */

/* blog page css start */

.blog-section{
    display: grid;
    grid-template-columns: 7.5fr 3.5fr;
    gap: 40px;
}

.right-blog{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.recent-posts{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.blogpost-link a:hover{
    text-decoration: underline;
    color: #22005a;
}

.blog-inner{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 15px;
    /* margin-top: 40px; */
}

.blog-item, .blog-item1{
    border-radius: 10px;
}

.blog-item{
    display: flex;
    gap: 20px;
    align-items: center;
}

.blog-date p{
    color: #23126a;
    font-weight: 600;
}
.blog-date-in{
    color: #627792;
    font-weight: 500;
}

.blog-date-in::before{
    content: "•";
    display: inline-block;
    margin: 0 6px 0 5px;
    -webkit-opacity: .7;
    -khtml-opacity: .7;
    -moz-opacity: .7;
    opacity: .7;
}

.blog-item img{
    width: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #c7c7c7;
}

.blog-info{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
}

.blog-info p, .blog-date p{
    font-size: 1rem;
}

.blog-info .content-p{
    background-color: #c7c7c7;
    color: #23126a;
    padding: 5px 15px;
    border-radius: 50px;
    width: max-content;
}

.blog-info a:hover{
    text-decoration: underline;
    color: #23126a;
}

.blog-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #5d5c64;
}

.blog-date p span{
    margin-right: 5px;
}

.blog-inner1{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 35px;
}

.blog-item1{
    display: flex;
    align-items: center;
}

.blog-item1 img{
    height: 250px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* blog page css end */

/* blog detail page css start */

.blog-detail-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blog-detail-section img{
        width: 450px;
    height: 450px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 10px 10px 15px, rgba(0, 0, 0, 0.3) 10px 15px 20px;
    margin: 0px auto;
    display: flex
;
}

/* blog detail page css end */

/* contact page css start */

.contact-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}

.left-contact{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.right-contact img{
    width: 100%;
}

.contact-form{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 15px;
}

.contact-form .input-group{
    display: flex;
    flex-direction: column;
}

.contact-form .input-group input, .contact-form .input-group textarea{
    border: none;
    outline: none;
    padding: 10px;
    border-bottom: 1px solid #c7c7c7;
}

.contact-form .input-group input:focus, .contact-form .input-group textarea:focus{
    border-color: #3a4991;
}

/* contact page css end */


/* footer section css start */

.footer-outer-container{
    background: #f6f7fa;
}

.footer-inner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-item img{
    width: 100%;
    margin-left: -10px;
}

.footer-item li{
    padding: 5px 0px;
    font-size: 1.125rem;
    list-style-type: none;
}

.footer-item li a:hover{
    text-decoration: underline;
    color: inherit;
}

.footer-item li a span{
    color: #4f038f;
}

.footer-item .social-icons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

.footer-item .social-icons span{
    font-size: 1.5rem;
    color: #23126a;
}

.footer-item .social-icons a{
    background: #fff;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.footer-item .social-icons a:hover{
    background: #c7c7c7;
}


.lower-footer{
    padding: 30px 0px;
    text-align: center;
}

/* footer section css end */


/* all names page css start */

.right-all-names{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
}

.right-all-names .premium-domain-item { display: none; } /* Hide all items initially */

.right-all-names .premium-domain-item{
    position: relative;
}

.right-all-names .premium-domain-item img{
    width: 100%;
    border-radius: 10px;
}

.right-all-names .domain-content{
    -ms-flex-pack: justify;
    background-color: #fff;
    border: 1px solid #f3f9ff;
    box-shadow: rgba(0, 0, 0, 0.45) 10px 10px 15px, rgba(0, 0, 0, 0.3) 10px 15px 20px;
    border-radius: 10px;
    bottom: 10%;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 85%;
    padding: 10px;
    max-height: 250px;
}

.domain-content h4{
    font-size: 1.125rem;
}

.right-all-names .domain-content .price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-all-names .domain-content .price .gradient-button{
    padding: 5px 10px;
}

.right-all-names .domain-content .price span{
    font-weight: 600;
}

.pagination{
    margin-top: 35px;
    gap: 20px;
}

.page-link{
    color: #003;
    background-color: #c7c7c7;
    padding: 5px 15px;
    border: none;
}

.page-link:hover{
    color: #003;
}

.page-link:focus{
    border: none;
    outline: none;
    box-shadow: none;
}

.disabled>.page-link{
    background-color: #c7c7c7;
}

/* all names page css end */

/* by industry page css start */

.by-industry-section{
    display: grid;
    grid-template-columns: 3fr 9fr;
    gap: 30px;
}

.right-by-industry{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.right-by-industry-inner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}


.left-by-industry{
    padding: 15px;
    border-radius: 10px;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.sort-by select {
    padding: 5px;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    margin-left: 10px;
}

.sort-by select:focus{
    border:  1px solid #c7c7c7;
    outline: none;
}

.search-bar input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.shop-by-category ul{
    margin-top: 20px;
}

.category {
    list-style: none;
    margin: 15px 0px;
}

.category-label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 600;
    padding: 8px;
    background: #ddd;
    border-radius: 4px;
}

.subcategory {
    list-style: none;
    padding-left: 15px;
    display: none;
}

.subcategory li {
    margin: 5px 0;
}

/* by industry page css end */

/* favorite page css start */

.favorite-section{
    display: grid;
    grid-template-columns: 3fr 9fr;
    gap: 30px;
}

.left-favt{
    padding: 20px;
    padding-right: 0;
    border-right: 1px solid #c7c7c7;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.favt-email-div{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.favt-email-div input[type='email']{
    width: 85%;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    padding: 10px;
}

.TabButton {
  color: #003;
  padding: 5px;
  cursor: pointer;
}

.TabButton span{
    padding: 10px;
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    margin-right: 10px;
}

.TabButtonSelected {
  color: #003;
  font-weight: 600;
}

.d-chart-n {
display: none;
}

.d-chart-show {
display: block;
}

.favorite-section .premium-domain-inner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 40px;
}

/* favorite page css end */

/* login and register page css start */

.login-inner, .register-inner {
    padding-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 15px 30px 0 rgba(68, 86, 103, .2);
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0px auto;
}

.login-heading, .register-heading{
    background: linear-gradient(to left, #8e54e9, #4776e6);
    width: 100%;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.login-section form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.login-section form input, .register-section form input, .register-section form textarea{
    border: none;
    outline: none;
    padding: 10px;
    border-bottom: 1px solid #c7c7c7;
}

.login-section form .input-group{
    display: flex;
    align-items: center;
    gap: 15px;
}

.login-section .input-group span{
    font-size: 1.5rem;
}

.register-section .input-group input::placeholder, .register-section textarea::placeholder{
    font-size: 0.875rem;
}

.register-section form{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 25px;
}

.register-section form .input-group{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.register-section button{
    display: flex;
    width: max-content;
    margin: 0px auto;
}

.login-section a:hover, .register-section a:hover{
    color: #2e3d62;
    text-decoration: underline;
}

.error {
    color: red;
    font-size: 0.875rem;
    display: none; /* Hide error messages initially */
}

/* login and registers page css end */


/********** MOBILE HEADER ************/


.mobile-header{
    display: none;
}

.mobile-menu-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: linear-gradient(to left, #8e54e9, #4776e6);
    padding: 10px;
}

.right-mobile-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-menu-container .logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.mobile-menu-container .logo p{
    line-height: 1;
    display: none;
}

/* mobile menu css */

.canva_expander {
    cursor: pointer;
    display: block;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}

.canva_expander span {
    height: 2px;
    width: 35px;
    display: block;
    background: #fff;
    cursor: pointer;
    list-style: none;
    margin: 8px 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    margin-left: auto;
}

.canva_expander span.dot2 {
    width: 27px;
}

.canva_expander span.dot4 {
    width: 22px;
}


.hamburger {
    position: absolute;
    top: 20px;
    right: 15px;
    /* line-height: 20px; */
    padding: 5px;
    /* border-radius: 5px; */
    color: #fff;
    border: 0;
    font-size: 1.875rem;
    font-weight: bold;
    outline: none;
    z-index: 1111;
    background: none;
}

.cross{
  background:none;
  position:absolute;
  top:5px;
  right:15px;
  padding:7px 15px 0px 15px;
  color:#2e3d62;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:22222;
}
.menu{z-index:1111; font-weight:bold; font-size:0.875rem; width:100%; background-color: #fff;  position:absolute; text-align:center; top: 0; left: 0;min-height: 100%;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none; padding-top: 80px;}
.menu li {display: block;   padding:20px 0 20px 0;}
.menu li:hover{display: block;    background-color: #fff;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#2e3d62;font-size: 0.875rem;}
.menu ul li a:hover {  color: #2e3d62; text-decoration:none;}
.menu a{text-decoration:none; color:#2e3d62;}

.nav__sub li{
    padding: 10px 0px !important;
}

.fa-chevron-right{
    font-size: 0.75rem;
}

.glyphicon-home{
  color: #2e3d62; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}


.nav__item , .nav__item {
	margin-top: 10px;
}

.menu ul .nav__link {
	font-weight: 600;
	color: #2e3d62;
    /* font-family: 'myregularfont'; */
	text-decoration: none;
}

.menu ul .nav__sub {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
    height: 100vh;
	background-color: #fff;
  color: #2e3d62;
	opacity: 0;
	display: none;
	transition: all 0.35s ease-in-out;
	transform: translateX(100%);
}

.menu ul .nav__sub.is-active {
  opacity: 1;
  display: block;
  transform: translateX(0%);
}

.menu ul .nav__sub {
	margin-top: 0;
	margin-bottom: 0;
	padding: 15px;
	list-style-type: none;
}

.contact-btn-mobile{
    border-radius: 50px;
    display: flex;
    margin: 0 auto;
    width: max-content;
    border: 1px solid #2e3d62;
    padding: 10px 20px !important;
    margin-top: 10px;
}

.hamburger, .cross, .menu{
  display: none;
}


@media screen and (max-width:450px) {
    .header-inner, .home-banner-image, .left-how-it-works, .bd.border_bg-3, .bd.border_bg-1 , .bd.border_bg-2, .right-content{
        display: none;
    }

    .mobile-header .logo img{
        width: 150px !important;
    }

    .home-banner-content, .footer-inner, .about-inner, .how-to-choose-inner, .why-choose-inner, .right-all-names, .by-industry-section, .right-by-industry-inner, .blog-inner, .contact-section, .favorite-section, .favorite-section .premium-domain-inner, .register-section form .input-group, .domain-page-section .domain-inner, .domain-points.cards, .help-section-inner, .domain-points .premium-domain-inner{
        grid-template-columns: repeat(1,1fr) !important;
    }

    .about-section{
        padding-top: 0 !important;
    }

    .blog-header .home-banner-content, .home-banner-content {
        padding: 115px 20px !important;
    }
}   


@media screen and (max-width:768px) {
    .mobile-header{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }

    .header-inner, .home-banner-image, .left-how-it-works, .bd.border_bg-3, .bd.border_bg-1 , .bd.border_bg-2, .right-content{
        display: none;
    }

    p{
        font-size: 14px;
    }

    .common-heading {
        font-size: 1.875rem;
    }
    
    #header{
        height: 350px;
        background-size: cover;
    }

    .section_lg{
        padding: 50px 20px;
    }

    .mobile-header .logo img{
        width: 250px;
    }

    .home-banner-content, .footer-inner, .about-inner, .how-to-choose-inner, .why-choose-inner, .by-industry-section, .blog-inner, .contact-section, .favorite-section, .favorite-section .premium-domain-inner, .register-section form .input-group, .domain-page-section .domain-inner, .domain-points.cards, .help-section-inner, .domain-points .premium-domain-inner{
        grid-template-columns: repeat(1,1fr);
    }

     .right-all-names, .right-by-industry-inner{
        grid-template-columns: repeat(3,1fr);
     }
    
    .favorite-section {
        margin-top: 100px;
    }

    .domain-section .domain-inner{
        flex-direction: column-reverse;
        gap: 30px;
    }

    .left-domain-section, .right-domain-section {
        width: 100% ;
    }
    
    .buy-now{
        flex-direction: column;
    }

    .help-section-inner{
        padding: 0;
        gap: 10px;
    }

    .domain-section{
        margin-top: 120px;
    }

    .help-section{
        margin: 40px 0px;
        padding: 30px;
    }

    .help-section-item-cont{
        margin-bottom: 25px;
    }

    .checkout-btn .gradient-button{
        padding: 12px 10px;
    }

    .domain-img img{
        height: 300px;
    }

    .why-choose-item {
        padding: 20px;
    }

    .why-choose-item img{
        width: 70px;
    }

    .blog-header{
        height: 245px !important;
        background-size: cover !important;
    }

    .blog-header .home-banner-content, .home-banner-content {
        padding: 125px 20px;
        gap: 10px;
    }

    .home-banner-content p {
        font-size: 14px;
    }

    .domain-points.faq .accordion-button {
        color: #2e3d62;
        border: 1px solid #f6f7fa;
        border-radius: 10px;
        font-weight: 600;
        font-size: 16px;
        padding: 20px;
        gap: 20px;
        align-items: center;
    }

    .domain-points.faq .accordion {
        width: 100%;
    }

    .right-about{
        display: none;
    }

    .footer-inner{
        gap: 30px;
    }

    .footer-item li{
        font-size: 14px;
    }

    .home-banner-content h1 {
        font-size: 32px;
        font-weight: 700;
    }
    
    .home-banner-heading{
        gap: 15px;
    }

    .sort-by select {
        margin-left: 0px;
        width: 100%;
    }

    .blog-info p, .blog-date p {
        font-size: 14px;
    }

    .blog-info {
        gap: 15px;
        padding: 15px;
    }

    .blog-section1{
        display: none;
    }

    .left-contact{
        gap: 15px;
    }

    .contact-form .input-group input, .contact-form .input-group textarea {
        padding: 5px;
    }

    .input-group label{
        font-size: 14px;
    }

    .login-inner, .register-inner {
        width: 100%;
    }

    .login-section, .register-section{
        margin-top: 90px;
    }

    .footer-item img {
        width: 250px;
    }
}   